.scroll {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: default;

    :global(.ant-list-items) {
        padding-left: 0px !important;
        margin: 0px;

    }
    :global(.ant-list-item) {
        padding: 4px 0;
        border-bottom: 0px !important;
    }

    .alarmScroll {
        display: flex;
        justify-content: space-evenly;

        .lable {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #90B6E4;
        }
    }

    .scrollName {
        width: 100%;
        height: 25px;
        // background-color: aliceblue;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .name {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .scrollMain {
        width: 100%;
        height: calc(100% - 25px);
        overflow: hidden;

        .listContainer {
            width: 100%;
            height: auto;
        }
    }

    .animate {
        // transition: all .8s;
        transition-property: all;
    transition-duration: 0.8s;
    }

}